body
{
	height: 100vh;
	width: 100%;
	margin: 0;
	background-color: gray;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: flex-start;
	align-content: flex-start;
}

body > *
{
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

.mainViewport
{
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

.mainViewport > canvas
{
	position: absolute;
	left: 0;
	top: 0;
}

.header
{
	flex-flow: row nowrap;
}

.header > *
{
	flex: 0 0 auto;
	margin: 5px;
	display: inline-block;
}